<%= form_for @customer do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cust_FName %>
    <%= f.text_field :cust_FName, id: :customer_cust_FName %>
  </div>

  <div class="field">
    <%= f.label :cust_Mi %>
    <%= f.text_field :cust_Mi, id: :customer_cust_Mi %>
  </div>

  <div class="field">
    <%= f.label :cust_LName %>
    <%= f.text_field :cust_LName, id: :customer_cust_LName %>
  </div>

  <div class="field">
    <%= f.label :cust_email %>
    <%= f.text_field :cust_email, id: :customer_cust_email %>
  </div>

  <div class="field">
    <%= f.label :cust_phone %>
    <%= f.text_field :cust_phone, id: :customer_cust_phone %>
  </div>



Appointments:
    <%= f.fields_for :appointments do |app_form| %>
        <div class="field">
          <%= app_form.label :app_date %>
          <%= app_form.datetime_select :app_date, id: :appointment_app_date %>
        </div>





<% end %>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>

