<p id="notice"><%= notice %></p>

<p>
  <strong>App date:</strong>
  <%= @appointment.app_date %>
</p>

<p>
  <strong>App status:</strong>
  <%= @appointment.app_status %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @appointment.customer %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
